body {
    background-color: #181818;
}

.card {
    border: none;
}

/* Ensure the card title remains white and bold */
.card .card-title {
    font-weight: bold;
}


.content {
    z-index: 1; /* Choose a value greater than the z-index of other elements it overlaps with */
    position: relative; /* This ensures that the z-index applies */    
    margin-top: -80px; /* Adjust this value to change the overlap */
}


.slideshow-container {
    position: relative;
    width: 900px;
    height: 400px;
    margin: 0 auto; /* Centers the container */
    overflow: hidden;
    background-image: url('game1.jpg'); /* Initial image */
    background-size: cover;
    opacity: 1;
    transition: opacity 0.5s; /* Transition duration for fade effect */
}

.fade-out {
    opacity: 0; /* Fully transparent to create fade-out effect */
}

.slideshow-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: 
        linear-gradient(to right, #181818, transparent 15%, transparent 80%, #181818),
        linear-gradient(to left, #181818, transparent 15%, transparent 80%, #181818),
        linear-gradient(to bottom, #181818, transparent 35%, transparent 60%, #181818);
        /*linear-gradient(to top, #181818, transparent 1%, transparent 80%, #181818);*/
    pointer-events: none;
}

